altgraph==0.17
auto-py-to-exe==2.7.8
bottle==0.12.18
bottle-websocket==0.2.9
cffi==1.14.2
colorama==0.4.3
Eel==0.12.4
future==0.18.2
gevent==20.6.2
gevent-websocket==0.10.1
greenlet==0.4.16
keyboard==0.13.5
MouseInfo==0.1.3
pefile==2019.4.18
pexpect==4.8.0
Pillow==7.2.0
ptyprocess==0.6.0
py2exe==0.9.2.2
PyAutoGUI==0.9.50
pycparser==2.20
PyGetWindow==0.0.8
pyinstaller==4.0
pyinstaller-hooks-contrib==2020.8
PyMsgBox==1.0.8
pyperclip==1.8.0
PyRect==0.1.4
PyScreeze==0.1.26
PyTweening==1.0.3
pywin32-ctypes==0.2.0
whichcraft==0.6.1
zope.event==4.4
zope.interface==5.1.0
wikipedia==1.4.0